version: "3.4"
services:
    api:
      environment:
        - ASPNETCORE_ENVIRONMENT=Production
        - DATABASE_DOMAIN=sql.data
        - DATABASE_USER_PASSWORD=${DATABASE_USER_PASSWORD}
        - DATABASE_USER_ID=${DATABASE_USER_ID}
      ports:
        - 80
    sql.data:
          volumes:
            - mssql-server-linux-data:/var/opt/mssql/data
          environment:
            SA_PASSWORD: ${DATABASE_USER_PASSWORD}
            ACCEPT_EULA: Y
    default-pwa:
      environment:
        - NODE_ENV=production
        - API_DOMAIN=${API_DOMAIN}
      ports:
        - 80
    new.pwa:
      context: ./src/Clients/pwa/new-pwa
      dockerfile: ./src/Clients/pwa/new-pwa/Dockerfile.dev
      environment:
        - ASPNETCORE_ENVIRONMENT=Production
        - NODE_ENV=production
        - API_DOMAIN=${API_DOMAIN}
        - APP_MAP_API_KEY=${APP_MAP_API_KEY}
      ports:
        - 80

#Задачи на завтра
#Посмотреть по API GATEWAYS Oceot
#посмотреть про запуск тестов
#например, вот так
#docker build --pull --target testrunner -t podcast:test .
#docker run --rm -v D:\github\hanselminutes-core\TestResults:/app/hanselminutes.core.tests/TestResults podcast:test
#возможно, настроить health check и webstatus
#в течении недели допилить приложение