
@{
    ViewBag.Title = "Readings";
}
<div id="app">
    <div class="inner-content">
        <div class="map-holder">
            <div id="map"></div>
        </div>
    </div>
    @Html.Partial("_Partials/DetailsModal")
</div>