<div id="map-context-menu">
    <button class="dropdown-item" type="button" @@click="setWayPoint('from')">Откуда</button>
    <button class="dropdown-item" type="button" @@click="setWayPoint('to')">Куда</button>
</div>
