<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Clear Sky Maps</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/css/bootstrap-material-design.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <base href="@Url.Content("~/")"/>
</head>
<body>
    <div class="body-content">
        @RenderBody()
    </div>

    <script src="~/lib/jquery-3.3.1.js"></script>
    <script src="~/lib/umd/popper.js"></script>
    <script src="~/lib/bootstrap-material-design.js"></script>
    <script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>
    @RenderSection("scripts", required: false)
</body>
</html>
