<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="logs/errors/Logs_%date{yyyyMMdd}.txt" />
    <rollingStyle value="Date" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10000KB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%utcdate|%-5level|%logger|%thread| %message %exception%n" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="ERROR"/>
      <param name="LevelMax" value="FATAL"/>
    </filter>
  </appender>
  <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="logs/info/Logs_%date{yyyyMMdd}.txt" />
    <rollingStyle value="Date" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10000KB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%utcdate|%-5level|%logger|%thread| %message %exception%n" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="INFO"/>
      <param name="LevelMax" value="WARN"/>
    </filter>
  </appender>
  <appender name="DebugAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="logs/debug/Logs_%date{yyyyMMdd}.txt" />
    <rollingStyle value="Date" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10000KB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%utcdate|%-5level|%logger|%thread| %message %exception%n" />
    </layout>
  </appender>
  <root>
    <appender-ref ref="ErrorAppender" />
    <appender-ref ref="InfoAppender" />
    <appender-ref ref="DebugAppender" />
    <level value="All" />
  </root>
</log4net>